html, body {
  overflow-x: hidden;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #071735;
  align-items: stretch;
  font-family: 'Inter', sans-serif;
}

main {
  flex: 1;
}

.home-container > main {
  display: flex;
  /* justify-content: center; */
  width: 100%;
}
